---
layout: base
---

<article class="article">
    <div class="main">
        <div>
            <h2>
                Fu Yong's Corner of the Internet
            </h2>
            <p><em>A simple blog, with (almost) nothing but contents</em></p>
            <p style="font-size: 12px">
                I am an aspiring computer-scientist and engineer. I like to write, sometimes
                about both technical contents and casual philosophy. You can read more about me
                <a href="/about-me/">here</a>. You can also check out my blog posts below or
                <a href="/cv.pdf">CV</a>. If you wish to contact me, please drop me an email
                at fuyong [at] fyquah [dot] me .
            </p>
        </div>

        <h3>Projects</h3>
        {% include projects.md %}

        <h3>Posts</h3>

        <table class="index">
            <thead>
                <th>Title</th>
                <th>Date</th>
            </thead>
            {% for post in site.categories.eng %}
              {% unless post.draft %}
                    <tr>
                        <td class="time">

                            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </td>
                        <td class='title'>
                            <a href="{{ post.url }}" rel="prefetch">
                                {{ post.title }}
                            </a>
                        </td>
                    </tr>
              {% endunless %}
            {% endfor %}
        </table>
        <section class="pagination" style="text-align:center">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/" class="btn btn-outline">‹ Newer</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
            {% endif %}
          {% endif %}
          {% if paginator.next_page %}
            <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
          {% endif %}
        </section>
        <br />
        <div>
            <p  style="font-size: 12px">Posts that show up here are somewhat related to engineering, which is the reason I think why most people are here anyways. If you are interested in my non-eng writings, check out my <a href="/diary.html">public diary</a>.</p>
        </div>

    </div>
</article>
