---
layout: base
permalink: /paper-review/
---

<article class="article">
    <div class="container">
        <div>
            <h2>
                Paper Review
            </h2>
        </div>
        <p>I like reading papers but have trouble keep track of what I have read. This site is simply a site to summarize what I have read.</p>
        <p>You can expect to find papers relating to FPGAs here, as that's my academic interest. Occasionally, though, you can expect other papers.</p>

        <table class="index">
            <thead>
                <th>Title</th>
                <th>Date</th>
            </thead>
            {% for post in site.categories["paper-review"] %}
              {% unless post.draft %}
                    <tr>
                        <td class="time">
                            <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
                        </td>
                        <td class='title'>
                            <a href="{{ post.url }}" rel="prefetch">
                                {{ post.title }}
                            </a>
                        </td>
                    </tr>
              {% endunless %}
            {% endfor %}
        </table>
        <section class="pagination" style="text-align:center">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/" class="btn btn-outline">‹ Newer</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}" class="btn btn-outline">‹ Newer</a>
            {% endif %}
          {% endif %}
          {% if paginator.next_page %}
            <a href="/page{{ paginator.next_page }}" class="btn btn-outline">Older ›</a>
          {% endif %}
        </section>
    </div>
</article>
