<div class="row">
    <div class="col-sm-4 offset-md-2 col-md-2 col-xs-12">
        <p style="text-align: center"><img src="{{ include.image_url }}" /></p>
    </div>
    <div class="col-sm-8 col-md-6 col-xs-12">
        <h3><a href="{{ include.company_url }}">{{ include.company }}</a></h3>
        <p><em>{{ include.title }}</em> - {{ include.location }}</p>
        <p>{{ include.from }} to {{ include.to }}</p>
        <div>
            {{ include.description }}
        </div>
    </div>
</div>
<br /><br />
