---
layout: base
---
{% unless page.cover_image %}
{% include _blog_cover.html %}
</div>
{% else %}
<div class="blog-cover" style="background-image:url(/images/{{ page.cover_image }});">
</div>
{% endunless %}
<article>

    <div class="container">
        <header>
            <div class="meta">
                By <address>Fu Yong Quah</address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
        <!-- The comment app -->
          <div ng-app="commentApp" ng-controller='commentCtrl' class='row'>
            <div class='col-xs-12 col-sm-offset-2 col-sm-8'>
                <h2>Write a Comment</h2>
                <div ng-show="newComment.errors && newComment.errors.length !== 0" style="background-color : #ffa5a5 ; padding-top : 5px ; padding-bottom : 5px"><ul>
                  <li ng-repeat="err in newComment.errors" style="color : #600000">{[{err}]}</li>
                </ul></div>
                <br />
                <form ng-submit="submitComment()">
                    <div class='form-group'>
                        <input placeholder="Your name / nickname" type="text" ng-model="newComment.username" class='form-control'/>
                    </div>
                    <div class='form-group'>
                        <input placeholder="Your website (optional)" type="text" ng-model="newComment.website" class="form-control" />
                    </div>
                    <div class='form-group'>
                        <textarea placeholder="obviously, your comment!" type="text" rows="4" ng-model="newComment.comment" class='form-control'></textarea>
                    </div>
                    <div class='form-group'>
                        <button type="submit" class='btn btn-default'>Write Comment!</button>
                    </div>
                </form>
                <h2>Comments</h2>
                <div>
                  <div ng-show="comments.length === 0">Looks like there are no comments :( ... yet! :)</div>
                  <div ng-repeat="c in comments | orderBy:'created_at':true">
                    <div class='row'>
                        <div class='col-xs-4'><a ng-href="{[{ c.website }]}" ng-bind="c.username"></a></div>
                        <div class='col-xs-8'><p ng-bind="c.created_at | beautifulDateTime" style="font-size : 15px; text-align: right; color: #969696;"></p></div>
                    </div>
                    <br />
                    <p><span ng-bind="c.comment"></span></p>
                    <div class="separator"></div>
                    <!-- <div class='row'>
                        <div class='col-xs-8'><a ng-href="comment.website || '#'">{{ comment.username }}</a></div>
                        <div class='col-xs-4'>{{ comment.created_at | beautifulDateTime }}</div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-12'>{{ comment.comment }}</div>
                    </div> -->
                  </div>
                </div>
            </div>
        </div>
        <!-- end of the comment app -->
    </div>
</article>
